@font-face {
  font-family: "gilroy";
  src: url(/fonts/gilroy-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "gilroy";
  src: url(/fonts/Gilroy-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "gilroy";
  src: url(/fonts/gilroy-SemiBold.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "gilroy";
  src: url(/fonts/gilroy-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "gilroy";
  src: url(/fonts/Gilroy-ExtraBold.ttf);
  font-style: normal;
  font-weight: 800;
}
